.dashboard{
    z-index: -1;
}
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    overflow-x: hidden;
    padding-top: 20px;
}
.left {
    left: 0;
    border-right: 1px solid ;
    box-shadow: 0 30px 40px rgba(0,0,0,.1);
}
.headerLeft, .headerRight{
    text-align: center;
}
.tixHeader{
    text-align: center;
    font-style: italic;
}
.item{
    cursor: pointer;
}
.item:hover{
    background-color: #dedede;
    transition: 0.6s;
}
.toolbar{
    display: flex;
    flex-wrap: wrap;
}
.toolbar>div{
    flex: 1 0 calc(25% - 10px);
    margin: 5px;
    align-items: center;
    font-weight: bolder;
}
.right {
    right: 0;
}
.headerInnerRight{
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    text-align: center;
    font-style: italic;
}
.headerInnerRight>*{
    color: #c4b5b5;
}
.ticketDesc{
    text-align: center;
}
.ticketDescHeader{
    font-weight: bolder;
}
.curStaff{
    position: relative;
}
.currentStaffHeader{
    font-style: italic;
    font-weight: bolder;
}
.status{
    display: block;
}
.commentsContainer{
    height: 25vw;
    overflow: auto;
}
.staff-comments{
    width: 20vw;
    margin: 15px;
    background-color: rgba(161, 161, 161, 0.521);
    border-radius: 25px;
    margin-top: 50px;
}
.ant-comment {
    margin: 35px;
    margin-top: -25px;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.centered>* {
   margin: 5px;
}

