.ant-list-item-meta-description {
    display: inline-block;
    width: 480px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
.ant-list-pagination {
    text-align: center !important;
}
.row{
    content: "";
    display: table;
    clear: both;
    width: 100%;
    margin: 5px;
    top: 15px;
}
.submittedBy{
    float: left;
    width: 33.33%;
    padding: 5px;
    font-style: italic;
    font-weight: bold;
}
.currentStaff{
    float: left;
    width: 33.33%;
    padding: 5px;
    text-decoration: underline;
    float: right;
}
.ticketStage{
    float: left;
    width: 33.33%;
    padding: 5px;
    font-weight: 600;
    display: table; margin: 0 auto;
}
.currentStaff_name{
    font-weight: bolder;
    text-transform: uppercase;
    font-style: italic;
}
@media only screen and (min-width: 1024px) {
    .desktop{
        width: 35vw;
        margin: 0 auto;
    }
}
.touchEvent{
    cursor: pointer;
}
@media only screen and (max-width: 1024px){
    .mobileText{
        margin: 0 auto;
        margin-left: 40vw;
    }
    .desktop{
        position: absolute;
        width: 92vw;
        overflow: hidden;
        left: 15px;
    }
}