.logo {
    font-size: 12vh;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.align-buttons, .align-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45vh;
}
.align-buttons a, .align-button a{
    text-decoration: none;
}
.align-button{
    margin-top: 0vh !important;
}
.button{
    position: absolute;
    display: block;
    margin-top: 5vh;
}
.align-buttons > * {
    margin: 15px;
}
.white-text {
    color: #ffffff;
}
/* Register & Login Path */
.Register, .Login {
    margin: 0 auto;
    width: 30vw;
}
.Reg-Header , .Log-Header{
    font-size: 4vh;
    font-weight: bolder;
    text-align: center;
}